#user-modal-container{
    width: auto;
    height: auto;
    background-color: #4c4c4c;
    position: fixed;
    padding: 5rem;
}

#header-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
