.home header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
}

.home header img{
    border-radius: 50px 280px 50px 280px;
}

.home header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin: 0;
    padding: 2rem 4rem;

}

.home header section h2{
    font-size: 2.4rem;
    text-align: center;
    line-height: 2.8rem;
    color: #fbfbfb;
}

.home header section span{
    color: #d82218
}

.home header section button{
    padding: 1rem 2rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #bd0f06;
    border: 2px solid #bd0f06;
    border-radius: 90px;
    color: #000;
    transition: 0.4s;
}

.home header section button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #bd0f06;
}